@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
body{
    margin: 0;
   font-weight: bold;
   font-family: Noto;
   text-align: center;
  background-color: rebeccapurple;
   color: white;
    
}

#message-el{
   font-style: italic; 
}

button{
    color: #222;
    width: 150px;
    background-color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    border:  none;
    margin-top: 4px;
    margin-bottom: 4px;
}
